body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform: scale(1);
}

svg {
  width: 200px;
  position: relative;
  z-index: 10;
}

#heart {
  /* 填充色 */
  fill: #eee;
  /* 轮廓宽度 */
  stroke-width: 20px;
  /* 轮廓色 */
  stroke: #f00;
  /* 轮廓虚线大小 1600覆盖整个轮廓*/
  stroke-dasharray: 1600;
  /* 设置虚线的位移 1600可以将虚线偏移到看不到*/
  stroke-dashoffset: 1600;
  /* 将线帽设为圆形 */
  stroke-linecap: round;
}

/* 小红点 */
span,
span::after {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 -160px 0 red, 0 160px 0 red, -160px 0 0 red, 160px 0 0 red;
}
span::after {
  content: '';
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
}

label {
  cursor: pointer;
}
input[type='checkbox'] {
  display: none;
}
/* 心心动画 */
input[type='checkbox']:checked ~ svg #heart {
  animation: 1s drawheart linear forwards;
}
/* 圆点动画 */
input[type='checkbox']:checked ~ span {
  animation: 0.5s blink ease-in-out forwards 0.85s;
}
input[type='checkbox']:checked ~ span::after {
  animation: 0.5s blink-after ease-in-out forwards 0.85s;
}

/* 心跳 */
input[type='checkbox']:checked ~ svg {
  animation: 1s pop linear forwards;
}

@keyframes drawheart {
  0% {
    stroke-dashoffset: 1600;
  }
  80% {
    stroke-dashoffset: 0;
    fill: #eee;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #f00;
  }
}
@keyframes blink {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@keyframes blink-after {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
    opacity: 0;
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
