* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #fff;
}

header {
  background-color: #000;
  height: 44px;
  padding: 0 18px;
}

#toggler {
  display: none;
}
#toggler:checked ~ label .hamburger-container span:nth-child(1) {
  transform: rotate(45deg);
  top: 4px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
#toggler:checked ~ label .hamburger-container span:nth-child(2) {
  transform: rotate(-45deg);
  top: -4px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.hamburger-container {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 16px;
}
.hamburger-container span {
  display: block;
  position: relative;
  height: 1px;
  top: 0;
  background-color: #fff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}
.hamburger-container span:nth-child(2) {
  margin-top: 7px;
}

.nav-items {
  position: absolute;
  width: 100%;
  height: calc(100% - 44px);
  top: 44px;
  left: 0;
  color: #fff;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.3s;
  transform-origin: 50% 0;
  background-color: rgba(0, 0, 0, 0.82);
  opacity: 0;
}
#toggler:checked ~ .nav-items {
  transform: scaleY(1);
  opacity: 1;
}

ul {
  margin-top: 1em;
}
